// pb-listing, [data-is=pb-listing] {
//   display: inline-block;

//   .pb-media-grid {
//     .medium {
//       float: left;
//       width: 33%;
//       padding: 1rem;
//       text-align: center;

//       img {
//         width: 100%;
//       }

//       .caption {
//         margin-top: 0.5rem;
//       }
//     }
//   }

//   .text-value {
//     margin-top: 1rem;
//   }

//   p {
//     margin-bottom: 1.5rem;
//   }
// }

pb-text-value, [data-is=pb-text-value] {
  display: block;
}

pb-string-value, [data-is=pb-string-value] {
  display: block;

  .string-value {
    margin-bottom: 1.5rem;
  }
}
