pb-main-entry, [data-is=pb-main-entry] {
  display: block;
  background-color: white;

  padding: 3rem;
  margin-bottom: 1rem;
  @include lyon(18px, 24px);

  .pb-sub-entry {
    margin-bottom: 0.5rem;
  }

  .location {
    margin-top: 1em;
  }

  pb-text-value, [data-is=pb-text-value] {
    text-align: justify;
  }

  hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .pb-timestamp {
    margin-top: 2em;
  }
}

pb-multi-main-entry, [data-is=pb-multi-main-entry] {
  background-color: white;

  .controls {
    padding: 30px;
  }

  .me-separator {
    hr:first-child {
      margin-bottom: 5px;
    }

    hr:last-child {
      margin-top: 5px;
    }

    &:last-child {
      display: none;
    }
  }

  hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}