pb-pagination, [data-is=pb-pagination] {
  display: block;

  form {
    display: inline-block;
    margin-bottom: 0px;
  }

  input[type=text] {
    display: inline;
    width: 60px;
    height: 25px;
    text-align: right;
    margin-bottom: 0rem;
  }

  .pb-left {
    float: left;
    width: 30%;
  }

  .pb-right {
    float: right;
    text-align: right;
  }

  .pb-center {
    display: block;
    float: left;
    text-align: center;
    width: 30%;
  }
}