@import 'styles/palette';

@import 'styles/w/app';
@import 'styles/w/messaging';
@import 'styles/w/modal';
@import 'styles/w/bar_chart';

@import 'styles/fonts';

$blue: #1eaedb;
$gray: #e1e1e1;
$yellow: #dbaa1e;
$pink: #db1e4f;
$highlight: #f4f4f4;

@import 'styles/badge_list';
@import 'styles/button';
@import 'styles/file_editor';
@import 'styles/image_viewer';
@import 'styles/listing';
@import 'styles/media_dropzone';
@import 'styles/mes_table';
@import 'styles/se_editor';
@import 'styles/pagination';
@import 'styles/main_entry';

body {
  padding-top: 5rem;
  padding-bottom: 10rem;
}

a {
  cursor: pointer;
  color: $color-secondary-1-0;
}

label {
  input, textarea, select {
    font-weight: normal;
  }

  input[type=checkbox] {
    position: relative;
    top: 2px;
    width: 20px;
  }

  textarea {
    min-height: 12rem;
    resize: none;
  }
}

input[type=submit], input[type=reset], .button {
  background-color: $color-secondary-1-0;
  border-color: $color-secondary-1-0;
  color: white;

  &:hover {
    background-color: $color-secondary-1-1;
    border-color: $color-secondary-1-1;
    color: white;
  }
}

input[type=reset] {
  background-color: initial;
  color: black;

  &:hover {
    background-color: #dedede;
    color: black;
  }
}

fieldset {
  margin: 0px;
  margin-bottom: 1.5rem;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  padding: 1rem;
  padding-bottom: 0px;
}

li {
  list-style-type: none;
}

.u-text-right {
  text-align: right;
}

.u-text-left {
  text-align: left; 
}

.u-text-center {
  text-align: center;
}

.pb-thumbnail {
  max-width: 8rem;
  max-height: 8rem;
}

.dropzone {
  text-align: center;
  vertical-align: middle;
  border: 3px dashed gray;
  color: gray;
  font-size: 3rem;
}

.navigation {
  margin-top: 2rem;
}

.pb-nowrap {
  white-space: nowrap;
}

.pb-errors {
  margin-top: -1.6rem;
  font-size: 1rem;
  color: red;

  li {
    list-style-type: disc;
    margin: 0px;
  }
}

.pb-clearfix {
  clear: both;
}

.pb-list-entry {
  border-top: 1px solid gray;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .pb-frame {
    padding: 2rem;
  }

  .pb-frame:hover {
    cursor: pointer;
    background-color: #D9E6D9;
  }

  pb-icon {
    display: block;
    float: right;
  }

  .pb-item {
    margin-right: 10rem;
  }

  .pb-id {
    @include lyon(18px, 24px);
    margin-bottom: 1em;
  }

  .pb-title {
    @include cera(18px, 24px);
    font-weight: bold;
  }

  .pb-creator {
    @include lyon(17px, 25px);
    font-style: italic;
    margin-bottom: 1em;
  }

  pb-text-value {
    @include lyon(18px, 24px);
  }
}