<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <title>Palais Beauharnais Catalogue</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="<%= stylesheet_path('vendor.css') %>"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="<%= stylesheet_path('app.css') %>"
    />
  </head>
  <body class="no-drupal">
    <w-app></w-app>

    <script
      type="text/javascript"
      src="<%= script_path('app-noboot.js') %>"
    ></script>
    
    <script type="text/javascript">
      wApp.setup('w-app')
    </script>
  </body>
</html>
