<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />

    <title>Palais Beauharnais Catalogue</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="<%= stylesheet_path('vendor.css') %>"
    />


    <!-- <script type="text/x-dropzone-tpl" data-id="dropzone-tpl">
      <div class="dz-preview dz-file-preview">
        <div class="dz-image"><img data-dz-thumbnail /></div>
        <div class="dz-details">
          <div class="dz-size"><span data-dz-size></span></div>
          <div class="dz-filename"><span data-dz-name></span></div>
          <div class="dz-caption" data-dz-caption></div>
          <pb-button
            href="#"
            icon="edit"
            label="bearbeiten"
            class="edit">
          </pb-button>
        </div>
        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
        <div class="dz-error-message"><span data-dz-errormessage></span></div>
        <div class="dz-success-mark"><i class="fa fa-check"></i></div>
        <div class="dz-error-mark"><i class="fa fa-remove"></i></div>
        <div class="dz-remove" data-dz-remove>
          <i class="fa fa-remove"></i>
        </div>
      </div>
    </script> -->

  </head>
  <body>
    <w-app></w-app>

    <script type="text/javascript" src="<%= script_path('vendor.js') %>"></script>
    <script type="text/javascript" src="<%= script_path('app.js') %>"></script>
    <script type="text/javascript">
      riot.mount('w-app')
    </script>
  </body>
</html>
