<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />

    <title>Palais Beauharnais Catalogue</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="<%= stylesheet_path('vendor.css') %>"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="<%= stylesheet_path('app.css') %>"
    />
  </head>
  <body>
    <pb-search-results></pb-search-results>

    <div class="pb-hide-on-results">
      Some text
    </div>

    <pb-search-form></pb-search-form>

    <w-modal></w-modal>

    <script type="text/javascript" src="<%= script_path('app-noboot.js') %>"></script>
    <script type="text/javascript">
      wApp.setup()
    </script>
  </body>
</html>
