w-modal, [data-is=w-modal] {
  position: fixed;
  top: 0px;
  height: 100%;
  left: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;

  & > .receiver {
    box-shadow: 0px 0px 30px #888888;
    position: fixed;
    z-index: 10001;
    // background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    max-height: 80%;
    // max-width: 100%;
  }
}

@media print {
  w-modal, [data-is=w-modal] {
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px;
    font-size: 14px;
    line-height: 18px;

    .receiver {
      box-shadow: none;
      width: 100%;
      height: 100%;
      max-height: 100%;
      margin: 0;
      border: none;
    }
  }
}